<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
    <style>
        body{
        background: #8abec2;
        }
        table , th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }

        th {
        padding: 10px;
        width: 150px;
        }

        tr:first-child {
        background: #add8e6;
        }

      tr {
        background-color: #70f58580;
      }

      tr:hover{
        box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
        cursor: pointer;
      }
      td{
        padding: 10px;
      }
    </style>
</head>
<body>
<h2>List of Books and Authors</h2>
<br>
<table>
    <tr>
        <th>Editorial</th>
        <th>Book</th>
        <th>Author</th>
    </tr>
    <tr th:each="boo: ${books}">
        <th th:text="${boo.editorial}"></th>
        <th th:text="${boo.title}"></th>
        <th th:text="${boo.author}"></th>
    </tr>

</table>
</body>
</html>